$primary-color: #3498db;
$secondary-color: #2ecc71;

$header-bg-color: #34495e;
$header-text-color: #ecf0f1;

$cell-bg-color: #ecf0f1;
$cell-border-color: #bdc3c7;
$text-color: #2c3e50;

$body-bg-color: #ffffff;

$btn-color: #007bff;
